openapi: 3.0.3
info:
  title: RustChain Node API
  description: |
    RustChain is a Proof-of-Antiquity blockchain network. This API provides
    access to node health, miner data, epoch information, Hall of Fame, and more.
  version: 2.2.1-rip200
  contact:
    name: RustChain
    url: https://rustchain.org

servers:
  - url: https://rustchain.org
    description: Production Node

tags:
  - name: Health
    description: Node health and readiness endpoints
  - name: Epoch
    description: Current epoch and slot information
  - name: Miners
    description: Active miner data and attestations
  - name: Hall of Fame
    description: Leaderboard and statistics
  - name: Fees
    description: RIP-301 fee pool information
  - name: Wallet
    description: Balance lookup and transfers
  - name: Admin
    description: Authenticated admin operations

paths:
  /health:
    get:
      tags: [Health]
      summary: Node health check
      description: Returns node version and basic health status
      operationId: getHealth
      responses:
        '200':
          description: Node is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: ok
                version: 2.2.1-rip200
                uptime: 12345

  /ready:
    get:
      tags: [Health]
      summary: Readiness probe
      description: Check if node is ready to accept requests
      operationId: getReady
      responses:
        '200':
          description: Node is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  ready:
                    type: boolean
                    example: true

  /epoch:
    get:
      tags: [Epoch]
      summary: Current epoch information
      description: Returns current epoch, slot, enrolled miners, and timing
      operationId: getEpoch
      responses:
        '200':
          description: Epoch data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpochResponse'
              example:
                epoch: 88
                slot: 12700
                slot_progress: 0.45
                seconds_remaining: 300
                enrolled_miners: 20

  /api/miners:
    get:
      tags: [Miners]
      summary: List active miners
      description: Returns all active miners with attestation data
      operationId: getMiners
      responses:
        '200':
          description: List of active miners
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinersResponse'

  /api/stats:
    get:
      tags: [Health]
      summary: Network statistics
      description: Returns overall network statistics
      operationId: getStats
      responses:
        '200':
          description: Network stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'

  /api/hall_of_fame:
    get:
      tags: [Hall of Fame]
      summary: Hall of Fame leaderboard
      description: Returns Hall of Fame statistics across 5 categories
      operationId: getHallOfFame
      responses:
        '200':
          description: Hall of Fame data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HallOfFameResponse'
              example:
                total_machines: 79
                total_attestations: 675550
                oldest_machine_year: 2001
                highest_rust_score: 557.8

  /api/fee_pool:
    get:
      tags: [Fees]
      summary: Fee pool statistics
      description: Returns RIP-301 fee pool data
      operationId: getFeePool
      responses:
        '200':
          description: Fee pool data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeePoolResponse'
              example:
                total_fees_rtc: 0
                fee_events: 0

  /balance:
    get:
      tags: [Wallet]
      summary: Get miner balance
      description: Lookup balance for a specific miner
      operationId: getBalance
      parameters:
        - name: miner
          in: query
          required: true
          schema:
            type: string
          description: Miner ID to lookup
      responses:
        '200':
          description: Balance data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
        '400':
          description: Missing miner parameter

  /lottery/eligibility:
    get:
      tags: [Wallet]
      summary: Check lottery eligibility
      description: Check if a miner is eligible for the epoch lottery
      operationId: getLotteryEligibility
      parameters:
        - name: miner_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Eligibility data

  /explorer:
    get:
      tags: [Health]
      summary: Block explorer
      description: Returns block explorer page data
      operationId: getExplorer
      responses:
        '200':
          description: Explorer data

  /attest/submit:
    post:
      tags: [Admin]
      summary: Submit hardware attestation
      description: Submit a new hardware attestation (requires auth)
      operationId: submitAttestation
      security:
        - adminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttestationRequest'
      responses:
        '200':
          description: Attestation accepted
        '401':
          description: Unauthorized

  /wallet/transfer/signed:
    post:
      tags: [Wallet]
      summary: Submit signed transfer
      description: Submit an Ed25519 signed transfer transaction
      operationId: submitSignedTransfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignedTransferRequest'
      responses:
        '200':
          description: Transfer submitted
        '400':
          description: Invalid signature

  /wallet/transfer:
    post:
      tags: [Admin]
      summary: Admin transfer
      description: Transfer RTC (requires admin key)
      operationId: adminTransfer
      security:
        - adminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
      responses:
        '200':
          description: Transfer completed
        '401':
          description: Unauthorized

  /withdraw/request:
    post:
      tags: [Admin]
      summary: Request withdrawal
      description: Request a withdrawal (requires admin key)
      operationId: requestWithdrawal
      security:
        - adminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequest'
      responses:
        '200':
          description: Withdrawal requested

components:
  securitySchemes:
    adminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: Admin API key for authenticated endpoints

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        version:
          type: string
          example: 2.2.1-rip200
        uptime:
          type: integer
          example: 12345

    EpochResponse:
      type: object
      properties:
        epoch:
          type: integer
          example: 88
        slot:
          type: integer
          example: 12700
        slot_progress:
          type: number
          format: float
          example: 0.45
        seconds_remaining:
          type: integer
          example: 300
        enrolled_miners:
          type: integer
          example: 20

    MinersResponse:
      type: object
      properties:
        miners:
          type: array
          items:
            type: object
            properties:
              miner_id:
                type: string
              balance:
                type: number
              last_attestation:
                type: integer

    StatsResponse:
      type: object
      properties:
        total_miners:
          type: integer
        total_epochs:
          type: integer
        network_hashrate:
          type: number

    HallOfFameResponse:
      type: object
      properties:
        total_machines:
          type: integer
          example: 79
        total_attestations:
          type: integer
          example: 675550
        oldest_machine_year:
          type: integer
          example: 2001
        highest_rust_score:
          type: number
          example: 557.8

    FeePoolResponse:
      type: object
      properties:
        total_fees_rtc:
          type: number
          example: 0
        fee_events:
          type: integer
          example: 0

    BalanceResponse:
      type: object
      properties:
        miner_id:
          type: string
        balance:
          type: number
        currency:
          type: string
          example: RTC

    AttestationRequest:
      type: object
      required: [miner_id, hardware_data, signature]
      properties:
        miner_id:
          type: string
        hardware_data:
          type: object
        signature:
          type: string

    SignedTransferRequest:
      type: object
      required: [from, to, amount, signature]
      properties:
        from:
          type: string
        to:
          type: string
        amount:
          type: number
        signature:
          type: string

    TransferRequest:
      type: object
      required: [from, to, amount]
      properties:
        from:
          type: string
        to:
          type: string
        amount:
          type: number

    WithdrawRequest:
      type: object
      required: [miner_id, amount, address]
      properties:
        miner_id:
          type: string
        amount:
          type: number
        address:
          type: string
