openapi: 3.0.3
info:
  title: RustChain Node API
  description: |
    REST API for the RustChain Proof-of-Antiquity blockchain node.
    
    ## Authentication
    Most endpoints are public. Some require admin key in header:
    - `X-Admin-Key: your-admin-key`
  version: 2.2.1-rip200
  contact:
    name: RustChain Community
    url: https://rustchain.org
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://rustchain.org
    description: Production node
  - url: http://localhost:8099
    description: Local development

paths:
  /health:
    get:
      summary: Node health check
      description: Returns node health status and version
      tags:
        - System
      responses:
        '200':
          description: Node is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  version:
                    type: string
                    example: "2.2.1-rip200"

  /ready:
    get:
      summary: Readiness probe
      description: Returns if node is ready to accept requests
      tags:
        - System
      responses:
        '200':
          description: Node is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  ready:
                    type: boolean
                    example: true

  /epoch:
    get:
      summary: Current epoch info
      description: Returns current epoch number, slot, and enrollment count
      tags:
        - Epoch
      responses:
        '200':
          description: Current epoch data
          content:
            application/json:
              example:
                epoch: 89
                slot: 12953
                slots_per_epoch: 144
                seconds_remaining: 4200
                enrolled_miners: 33
                epoch_pot: 1.5
                total_supply_rtc: 8388608

  /api/miners:
    get:
      summary: List active miners
      description: Returns all miners with recent attestation data
      tags:
        - Miners
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of active miners
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Miner'
              example:
                - miner: RTC72d3966b4074d00219aa25a812829f411f0acca9
                  device_arch: G4
                  device_family: PowerPC
                  hardware_type: PowerPC G4 (Vintage)
                  antiquity_multiplier: 2.5
                  entropy_score: 0.0
                  last_attest: 1772478996

  /api/stats:
    get:
      summary: Network statistics
      description: Returns overall network statistics
      tags:
        - Network
      responses:
        '200':
          description: Network stats
          content:
            application/json:
              example:
                total_miners: 87
                active_miners: 20
                total_attestations: 465538

  /api/hall_of_fame:
    get:
      summary: Hall of Fame leaderboard
      description: Returns leaderboard data across multiple categories
      tags:
        - Network
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [ancient_iron, exotic_arch, fleet_commanders, most_dedicated, top_earners]
      responses:
        '200':
          description: Hall of Fame data
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: object
                  epoch:
                    type: object
                  stats:
                    type: object

  /api/fee_pool:
    get:
      summary: Fee pool statistics
      description: Returns RIP-301 fee pool data
      tags:
        - Network
      responses:
        '200':
          description: Fee pool data
          content:
            application/json:
              example:
                total_fees_rtc: 0
                fee_events: 0

  /balance:
    get:
      summary: Get miner balance
      description: Returns RTC balance for a specific miner
      tags:
        - Wallet
      parameters:
        - name: miner_id
          in: query
          required: true
          schema:
            type: string
          example: RTC72d3966b4074d00219aa25a812829f411f0acca9
      responses:
        '200':
          description: Miner balance
          content:
            application/json:
              example:
                miner_id: RTC72d3966b4074d00219aa25a812829f411f0acca9
                balance_rtc: 100.5

  /lottery/eligibility:
    get:
      summary: Check epoch eligibility
      description: Check if a miner is eligible for current epoch lottery
      tags:
        - Epoch
      parameters:
        - name: miner_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Eligibility status
          content:
            application/json:
              example:
                eligible: true
                epoch: 89

  /attest/submit:
    post:
      summary: Submit hardware attestation
      description: Submit a hardware attestation for mining
      tags:
        - Attestation
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - miner_pubkey
                - miner_id
                - device
              properties:
                miner_pubkey:
                  type: string
                  description: Wallet address
                miner_id:
                  type: string
                  description: Unique miner identifier
                device:
                  type: object
                  properties:
                    family:
                      type: string
                    arch:
                      type: string
      responses:
        '200':
          description: Attestation submitted
          content:
            application/json:
              example:
                ok: true
                attestation_id: abc123

  /wallet/transfer:
    post:
      summary: Transfer RTC (admin)
      description: Transfer RTC between wallets (requires admin key)
      tags:
        - Wallet
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - amount
              properties:
                from:
                  type: string
                to:
                  type: string
                amount:
                  type: number
      responses:
        '200':
          description: Transfer successful
          content:
            application/json:
              example:
                ok: true
                tx_id: tx123

  /wallet/transfer/signed:
    post:
      summary: Transfer RTC (signed)
      description: Transfer RTC with Ed25519 signature
      tags:
        - Wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - amount
                - signature
              properties:
                from:
                  type: string
                to:
                  type: string
                amount:
                  type: number
                signature:
                  type: string
      responses:
        '200':
          description: Transfer successful
          content:
            application/json:
              example:
                ok: true
                tx_id: tx456

  /withdraw/request:
    post:
      summary: Request withdrawal
      description: Request RTC withdrawal to external wallet
      tags:
        - Wallet
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wallet
                - amount
              properties:
                wallet:
                  type: string
                amount:
                  type: number
      responses:
        '200':
          description: Withdrawal requested
          content:
            application/json:
              example:
                ok: true
                withdrawal_id: w123

components:
  securitySchemes:
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: Admin key for protected endpoints
  
  schemas:
    Miner:
      type: object
      properties:
        miner:
          type: string
          description: Miner ID
        device_arch:
          type: string
          description: CPU architecture
        device_family:
          type: string
          description: Device family
        hardware_type:
          type: string
          description: Hardware type description
        antiquity_multiplier:
          type: number
          description: Age-based reward multiplier
        entropy_score:
          type: number
          description: Entropy score
        last_attest:
          type: integer
          description: Last attestation timestamp

tags:
  - name: System
    description: System health and status
  - name: Epoch
    description: Epoch and lottery operations
  - name: Miners
    description: Miner management
  - name: Network
    description: Network statistics
  - name: Wallet
    description: Wallet and transfers
  - name: Attestation
    description: Hardware attestation
