openapi: 3.0.3
info:
  title: RustChain Node API
  description: |
    Public API for RustChain node operations.
    
    RustChain is a Proof-of-Work blockchain with hardware attestation,
    supporting vintage and modern hardware for decentralized mining.
  version: 2.2.1
  contact:
    name: RustChain Team
    url: https://github.com/Scottcjn/Rustchain
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://rustchain.org
    description: Production node
  - url: http://localhost:8080
    description: Local development

paths:
  /health:
    get:
      summary: Node health check
      description: Returns node health status and basic metrics
      tags:
        - Health
      responses:
        '200':
          description: Node is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                ok: true
                version: "2.2.1-rip200"
                uptime_s: 92185
                db_rw: true
                tip_age_slots: 0
                backup_age_hours: 2.48
        '503':
          description: Node is not ready

  /epoch:
    get:
      summary: Current epoch information
      description: Returns current epoch, slot, and enrolled miners
      tags:
        - Network
      responses:
        '200':
          description: Epoch information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpochResponse'
              example:
                epoch: 89
                slot: 12872
                blocks_per_epoch: 144
                enrolled_miners: 26
                epoch_pot: 1.5
                total_supply_rtc: 8388608

  /api/miners:
    get:
      summary: List active miners
      description: Returns all active miners with attestation data
      tags:
        - Miners
      responses:
        '200':
          description: List of miners
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Miner'

components:
  schemas:
    HealthResponse:
      type: object
      properties:
        ok:
          type: boolean
        version:
          type: string
        uptime_s:
          type: integer
        db_rw:
          type: boolean
        tip_age_slots:
          type: integer
        backup_age_hours:
          type: number

    EpochResponse:
      type: object
      properties:
        epoch:
          type: integer
        slot:
          type: integer
        blocks_per_epoch:
          type: integer
        enrolled_miners:
          type: integer
        epoch_pot:
          type: number
        total_supply_rtc:
          type: integer

    Miner:
      type: object
      properties:
        miner:
          type: string
        device_arch:
          type: string
        device_family:
          type: string
        hardware_type:
          type: string
        antiquity_multiplier:
          type: number
        entropy_score:
          type: number
        last_attest:
          type: integer
