openapi: 3.0.3
info:
  title: RustChain REST API (Enhanced)
  description: |
    Comprehensive OpenAPI specification for the RustChain blockchain REST API.
    Includes missing Governance, P2P, Admin, and Beacon protocol endpoints.
  version: 2.2.1-rip200
  contact:
    name: RustChain Development
    url: https://github.com/Scottcjn/rustchain-bounties
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://rustchain.org
    description: Production node (public)
  - url: http://localhost:8099
    description: Local development node

tags:
  - name: Health & Status
  - name: Epoch & Network
  - name: Miners
  - name: Wallet
  - name: Attestation
  - name: Governance
  - name: Bridge
  - name: P2P
  - name: Admin & Ops
  - name: Beacon

paths:
  /health:
    get:
      tags: [Health & Status]
      summary: Node health check
      responses:
        '200':
          description: Node is healthy
  /ready:
    get:
      tags: [Health & Status]
      summary: Readiness probe
      responses:
        '200':
          description: Node is ready
  /epoch:
    get:
      tags: [Epoch & Network]
      summary: Current epoch information
      responses:
        '200':
          description: Epoch info
  /api/stats:
    get:
      tags: [Epoch & Network]
      summary: Network statistics
      responses:
        '200':
          description: Stats retrieved
  /api/miners:
    get:
      tags: [Miners]
      summary: List active miners
      parameters:
        - name: limit
          in: query
          schema: {type: integer, default: 200}
        - name: offset
          in: query
          schema: {type: integer, default: 0}
      responses:
        '200':
          description: Miner list
        '429':
          description: Rate limited
  /wallet/balance:
    get:
      tags: [Wallet]
      summary: Get wallet balance
      parameters:
        - name: miner_id
          in: query
          required: true
          schema: {type: string}
      responses:
        '200':
          description: Balance info
  /wallet/history:
    get:
      tags: [Wallet]
      summary: Get wallet transaction history
      parameters:
        - name: miner_id
          in: query
          schema: {type: string}
        - name: address
          in: query
          schema: {type: string}
        - name: limit
          in: query
          schema: {type: integer}
      responses:
        '200':
          description: History list
  /wallet/transfer:
    post:
      tags: [Wallet]
      summary: Transfer RTC
      responses:
        '200':
          description: Transfer executed
  /governance/proposals:
    get:
      tags: [Governance]
      summary: List all proposals
      responses:
        '200':
          description: Proposals list
  /governance/propose:
    post:
      tags: [Governance]
      summary: Create a new proposal
      responses:
        '200':
          description: Proposal created
  /governance/vote:
    post:
      tags: [Governance]
      summary: Cast a vote on a proposal
      responses:
        '200':
          description: Vote cast
  /p2p/stats:
    get:
      tags: [P2P]
      summary: P2P network statistics
      responses:
        '200':
          description: P2P stats
  /p2p/ping:
    post:
      tags: [P2P]
      summary: Ping a peer
      responses:
        '200':
          description: Pong
  /admin/oui_deny/list:
    get:
      tags: [Admin & Ops]
      summary: List denied OUIs
      security: [{AdminKeyAuth: []}]
      responses:
        '200':
          description: OUI list
  /admin/oui_deny/add:
    post:
      tags: [Admin & Ops]
      summary: Add OUI to deny list
      security: [{AdminKeyAuth: []}]
      responses:
        '200':
          description: OUI added
  /beacon/submit:
    post:
      tags: [Beacon]
      summary: Submit beacon data
      responses:
        '200':
          description: Submitted
  /beacon/digest:
    get:
      tags: [Beacon]
      summary: Get beacon digest
      responses:
        '200':
          description: Digest retrieved

components:
  securitySchemes:
    AdminKeyAuth:
      type: apiKey
      in: header
      name: X-Admin-Key
