openapi: 3.0.3
info:
  title: RustChain Node API
  description: |
    Public API for RustChain node operations, including epoch data, miner attestations,
    Hall of Fame leaderboard, and fee pool statistics.
    
    ## Authentication
    Most endpoints are public. Admin endpoints require `X-Admin-Key` header.
  version: 2.2.1
  contact:
    name: RustChain
    url: https://rustchain.org

servers:
  - url: https://rustchain.org
    description: Production node

tags:
  - name: Health
    description: Node health and status endpoints
  - name: Epoch
    description: Current epoch and slot information
  - name: Miners
    description: Miner data and attestations
  - name: Hall of Fame
    description: Hardware leaderboard and statistics
  - name: Fee Pool
    description: RIP-301 fee pool data
  - name: Balance
    description: Miner balance lookups
  - name: Lottery
    description: Epoch eligibility checks
  - name: Admin
    description: Admin-only endpoints (requires X-Admin-Key)

paths:
  /health:
    get:
      tags:
        - Health
      summary: Node health check
      description: Returns node health status including database read/write status, uptime, and version.
      operationId: getHealth
      responses:
        '200':
          description: Node is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                ok: true
                db_rw: true
                uptime_s: 40668
                version: "2.2.1-rip200"
                tip_age_slots: 0
                backup_age_hours: 22.5

  /ready:
    get:
      tags:
        - Health
      summary: Readiness probe
      description: Checks if the node is ready to serve requests.
      operationId: getReady
      responses:
        '200':
          description: Node is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  ready:
                    type: boolean
                    example: true

  /epoch:
    get:
      tags:
        - Epoch
      summary: Current epoch information
      description: Returns the current epoch number, slot, enrolled miners count, and epoch pot.
      operationId: getEpoch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpochResponse'
              example:
                epoch: 90
                slot: 12992
                blocks_per_epoch: 144
                enrolled_miners: 21
                epoch_pot: 1.5
                total_supply_rtc: 8388608

  /api/miners:
    get:
      tags:
        - Miners
      summary: List active miners
      description: Returns all active miners with their attestation data.
      operationId: getMiners
      responses:
        '200':
          description: List of active miners
          content:
            application/json:
              schema:
                type: object
                properties:
                  miners:
                    type: array
                    items:
                      $ref: '#/components/schemas/Miner'

  /api/stats:
    get:
      tags:
        - Miners
      summary: Network statistics
      description: Returns overall network statistics.
      operationId: getStats
      responses:
        '200':
          description: Network statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_miners:
                    type: integer
                    example: 21
                  total_attestations:
                    type: integer
                    example: 500000

  /api/hall_of_fame:
    get:
      tags:
        - Hall of Fame
      summary: Hall of Fame leaderboard
      description: |
        Returns the Hall of Fame leaderboard with machines categorized by rust score:
        - ancient_iron: 25+ year old hardware
        - vintage_silicon: 15-24 years
        - classic_chips: 10-14 years
        - modern_metal: 5-9 years
        - fresh_steel: <5 years
      operationId: getHallOfFame
      responses:
        '200':
          description: Hall of Fame data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HallOfFameResponse'

  /api/hall_of_fame/machine:
    get:
      tags:
        - Hall of Fame
      summary: Machine detail page
      description: Returns detailed information about a specific machine by fingerprint hash or miner ID.
      operationId: getMachineDetail
      parameters:
        - name: id
          in: query
          required: true
          description: Machine fingerprint hash or miner ID
          schema:
            type: string
          example: "9ccabd3e5b799c588c5b35f4d8390584"
      responses:
        '200':
          description: Machine details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineDetail'
        '404':
          description: Machine not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/fee_pool:
    get:
      tags:
        - Fee Pool
      summary: RIP-301 fee pool statistics
      description: Returns current fee pool balance and distribution data.
      operationId: getFeePool
      responses:
        '200':
          description: Fee pool data
          content:
            application/json:
              schema:
                type: object
                properties:
                  pool_balance:
                    type: number
                    format: float
                    example: 1250.5
                  pending_claims:
                    type: integer
                    example: 5
                  total_distributed:
                    type: number
                    format: float
                    example: 50000.0

  /balance:
    get:
      tags:
        - Balance
      summary: Miner balance lookup
      description: Returns the RTC balance for a specific miner.
      operationId: getBalance
      parameters:
        - name: miner_id
          in: query
          required: true
          description: Miner ID to look up
          schema:
            type: string
          example: "RTC72d3966b4074d00219aa25a812829f411f0acca9"
      responses:
        '200':
          description: Balance data
          content:
            application/json:
              schema:
                type: object
                properties:
                  miner_id:
                    type: string
                  balance:
                    type: number
                    format: float
                    example: 1500.75
                  pending_rewards:
                    type: number
                    format: float
                    example: 25.0
        '404':
          description: Miner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /lottery/eligibility:
    get:
      tags:
        - Lottery
      summary: Check epoch eligibility
      description: Checks if a miner is eligible for the current epoch lottery.
      operationId: getLotteryEligibility
      parameters:
        - name: miner_id
          in: query
          required: true
          description: Miner ID to check
          schema:
            type: string
      responses:
        '200':
          description: Eligibility data
          content:
            application/json:
              schema:
                type: object
                properties:
                  miner_id:
                    type: string
                  eligible:
                    type: boolean
                  reason:
                    type: string
                    description: Reason if not eligible

  /explorer:
    get:
      tags:
        - Health
      summary: Block explorer page
      description: Returns the block explorer HTML page.
      operationId: getExplorer
      responses:
        '200':
          description: HTML page
          content:
            text/html:
              schema:
                type: string

  /attest/submit:
    post:
      tags:
        - Admin
      summary: Submit hardware attestation
      description: Submit a new hardware attestation (requires admin key).
      operationId: submitAttestation
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttestationRequest'
      responses:
        '200':
          description: Attestation accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  fingerprint_hash:
                    type: string
        '401':
          description: Unauthorized - invalid admin key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /wallet/transfer/signed:
    post:
      tags:
        - Admin
      summary: Ed25519 signed transfer
      description: Transfer RTC using Ed25519 signature (requires admin key).
      operationId: transferSigned
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to:
                  type: string
                amount:
                  type: number
                signature:
                  type: string
      responses:
        '200':
          description: Transfer successful
        '401':
          description: Unauthorized

  /wallet/transfer:
    post:
      tags:
        - Admin
      summary: Admin transfer
      description: Transfer RTC (requires admin key).
      operationId: transfer
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to:
                  type: string
                amount:
                  type: number
      responses:
        '200':
          description: Transfer successful
        '401':
          description: Unauthorized

  /withdraw/request:
    post:
      tags:
        - Admin
      summary: Withdrawal request
      description: Request a withdrawal (requires admin key).
      operationId: withdrawRequest
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                address:
                  type: string
      responses:
        '200':
          description: Withdrawal requested
        '401':
          description: Unauthorized

components:
  securitySchemes:
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: Admin API key for authenticated endpoints

  schemas:
    HealthResponse:
      type: object
      properties:
        ok:
          type: boolean
          description: Overall health status
        db_rw:
          type: boolean
          description: Database read/write status
        uptime_s:
          type: integer
          description: Node uptime in seconds
        version:
          type: string
          description: Node software version
        tip_age_slots:
          type: integer
          description: Age of chain tip in slots
        backup_age_hours:
          type: number
          format: float
          description: Age of last backup in hours

    EpochResponse:
      type: object
      properties:
        epoch:
          type: integer
          description: Current epoch number
        slot:
          type: integer
          description: Current slot within epoch
        blocks_per_epoch:
          type: integer
          description: Total blocks per epoch
        enrolled_miners:
          type: integer
          description: Number of enrolled miners
        epoch_pot:
          type: number
          format: float
          description: Total RTC rewards for this epoch
        total_supply_rtc:
          type: number
          format: float
          description: Total RTC supply in circulation

    Miner:
      type: object
      properties:
        miner_id:
          type: string
        fingerprint_hash:
          type: string
        device_family:
          type: string
        device_arch:
          type: string
        device_model:
          type: string
        manufacture_year:
          type: integer
        rust_score:
          type: number
          format: float
        total_attestations:
          type: integer
        first_attestation:
          type: integer
          format: int64
        last_attestation:
          type: integer
          format: int64
        is_deceased:
          type: boolean
        capacitor_plague:
          type: boolean
        thermal_events:
          type: integer

    HallOfFameResponse:
      type: object
      properties:
        categories:
          type: object
          properties:
            ancient_iron:
              type: array
              items:
                $ref: '#/components/schemas/Miner'
              description: Machines 25+ years old
            vintage_silicon:
              type: array
              items:
                $ref: '#/components/schemas/Miner'
              description: Machines 15-24 years old
            classic_chips:
              type: array
              items:
                $ref: '#/components/schemas/Miner'
              description: Machines 10-14 years old
            modern_metal:
              type: array
              items:
                $ref: '#/components/schemas/Miner'
              description: Machines 5-9 years old
            fresh_steel:
              type: array
              items:
                $ref: '#/components/schemas/Miner'
              description: Machines <5 years old

    MachineDetail:
      allOf:
        - $ref: '#/components/schemas/Miner'
        - type: object
          properties:
            nickname:
              type: string
              nullable: true
            badge:
              type: string
              description: Rust score badge name
            attestation_timeline:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  count:
                    type: integer
              description: Last 30 days of attestations
            reward_participation:
              type: object
              properties:
                total_earned:
                  type: number
                  format: float
                epochs_participated:
                  type: integer

    AttestationRequest:
      type: object
      required:
        - miner_id
        - hardware_data
        - signature
      properties:
        miner_id:
          type: string
        hardware_data:
          type: object
          properties:
            device_family:
              type: string
            device_arch:
              type: string
            device_model:
              type: string
            manufacture_year:
              type: integer
            serial_number:
              type: string
        signature:
          type: string
          description: Ed25519 signature of hardware data

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
