openapi: 3.0.3
info:
  title: RustChain Node API
  description: |
    RustChain is a blockchain that rewards vintage hardware through Proof-of-Antiquity.
    
    This API provides access to node health, epoch information, miner data, and the Hall of Fame.
    
    **Base URL**: `https://rustchain.org`
    
    **Authentication**: Most endpoints are public. Admin endpoints require `X-Admin-Key` header.
    
    **Rate Limiting**: Please be respectful with request rates.
    
    **GitHub**: https://github.com/Scottcjn/Rustchain
  version: 2.2.1-rip200
  contact:
    name: RustChain Support
    email: scott@elyanlabs.ai
    url: https://rustchain.org
  license:
    name: MIT
    url: https://github.com/Scottcjn/Rustchain/blob/main/LICENSE

servers:
  - url: https://rustchain.org
    description: Production node
  - url: http://localhost:8080
    description: Local development node

tags:
  - name: Health
    description: Node health and readiness checks
  - name: Epoch
    description: Epoch and slot information
  - name: Miners
    description: Miner data and attestations
  - name: Hall of Fame
    description: Historical machine leaderboard
  - name: Fees
    description: RIP-301 fee pool statistics
  - name: Wallet
    description: Balance and transfer operations
  - name: Attestation
    description: Hardware attestation submission
  - name: Explorer
    description: Block explorer interface

paths:
  /health:
    get:
      tags:
        - Health
      summary: Node health check
      description: Returns node health status, version, uptime, and database state
      operationId: getHealth
      responses:
        '200':
          description: Node is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                ok: true
                version: "2.2.1-rip200"
                uptime_s: 12188
                db_rw: true
                tip_age_slots: 0
                backup_age_hours: 4.27

  /ready:
    get:
      tags:
        - Health
      summary: Readiness probe
      description: Kubernetes-style readiness check
      operationId: getReady
      responses:
        '200':
          description: Node is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  ready:
                    type: boolean
                    example: true

  /epoch:
    get:
      tags:
        - Epoch
      summary: Current epoch information
      description: Returns current epoch number, slot, enrolled miners, and supply
      operationId: getEpoch
      responses:
        '200':
          description: Epoch data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpochResponse'
              example:
                epoch: 88
                slot: 12739
                blocks_per_epoch: 144
                enrolled_miners: 24
                epoch_pot: 1.5
                total_supply_rtc: 8388608

  /api/miners:
    get:
      tags:
        - Miners
      summary: List active miners
      description: Returns all enrolled miners with attestation data and hardware info
      operationId: getMiners
      responses:
        '200':
          description: List of miners
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Miner'
              example:
                - miner: "macmini-m2-134"
                  device_arch: "M2"
                  device_family: "Apple Silicon"
                  hardware_type: "Apple Silicon (Modern)"
                  last_attest: 1772350545
                  antiquity_multiplier: 1.2
                  entropy_score: 0
                  first_attest: null

  /api/stats:
    get:
      tags:
        - Miners
      summary: Network statistics
      description: |
        Returns network-wide statistics.
        
        **Note**: This endpoint is currently not implemented on the live node (returns 404).
        Statistics are available via `/api/hall_of_fame` endpoint under the `stats` field.
      operationId: getStats
      deprecated: true
      responses:
        '200':
          description: Network statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HallOfFameStats'
              example:
                total_machines: 73
                total_attestations: 426415
                oldest_year: 2001
                highest_rust_score: 310.4
                active_miners_now: 16
                average_rust_score: 61.9
        '404':
          description: Endpoint not yet implemented (use /api/hall_of_fame instead)

  /api/hall_of_fame:
    get:
      tags:
        - Hall of Fame
      summary: Hall of Fame leaderboard
      description: |
        Returns historical machines organized by category with rust scores.
        
        **Note**: This endpoint also includes network statistics in the `stats` field,
        which can be used as an alternative to the `/api/stats` endpoint.
      operationId: getHallOfFame
      responses:
        '200':
          description: Hall of Fame data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HallOfFameResponse'
              example:
                epoch: 88
                generated_at: "2026-03-01T07:35:00Z"
                stats:
                  total_machines: 73
                  total_attestations: 426415
                  oldest_year: 2001
                  highest_rust_score: 310.4
                  active_miners_now: 16
                  average_rust_score: 61.9
                  capacitor_plague_survivors: 0
                  deceased_count: 0
                categories:
                  powerpc: []
                  apple_silicon: []
                  x86_modern: []
                  vintage: []
                  exotic: []
                spotlight:
                  miner: "dual-g4-125"
                  rust_score: 310.4

  /api/fee_pool:
    get:
      tags:
        - Fees
      summary: Fee pool statistics (RIP-301)
      description: Returns total fees collected and recent fee events
      operationId: getFeePool
      responses:
        '200':
          description: Fee pool data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeePoolResponse'
              example:
                total_fees_collected_rtc: 0
                total_fee_events: 0
                recent_events: []

  /balance:
    get:
      tags:
        - Wallet
      summary: Get miner balance
      description: Returns RTC balance for a specific miner
      operationId: getBalance
      parameters:
        - name: miner_id
          in: query
          required: true
          description: Miner identifier
          schema:
            type: string
            example: "macmini-m2-134"
      responses:
        '200':
          description: Balance information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
              example:
                miner: "macmini-m2-134"
                balance: 1234.56
                last_updated: "2026-03-01T07:35:00Z"

  /lottery/eligibility:
    get:
      tags:
        - Miners
      summary: Check epoch eligibility
      description: Check if a miner is eligible for the current epoch lottery
      operationId: getLotteryEligibility
      parameters:
        - name: miner_id
          in: query
          required: true
          description: Miner identifier
          schema:
            type: string
            example: "macmini-m2-134"
      responses:
        '200':
          description: Eligibility status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EligibilityResponse'
              example:
                miner: "macmini-m2-134"
                eligible: true
                epoch: 88
                reason: "Active attestations in current epoch"

  /attest/submit:
    post:
      tags:
        - Attestation
      summary: Submit hardware attestation
      description: Submit a signed hardware attestation (requires authentication)
      operationId: submitAttestation
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttestationRequest'
            example:
              miner: "macmini-m2-134"
              device_arch: "M2"
              device_family: "Apple Silicon"
              signature: "ed25519_signature_here"
              timestamp: 1772350545
      responses:
        '200':
          description: Attestation accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Attestation recorded"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /wallet/transfer/signed:
    post:
      tags:
        - Wallet
      summary: Submit signed transfer
      description: Submit an Ed25519 signed RTC transfer
      operationId: submitSignedTransfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignedTransferRequest'
            example:
              from: "macmini-m2-134"
              to: "dual-g4-125"
              amount: 10.5
              signature: "ed25519_signature_here"
              timestamp: 1772350545
      responses:
        '200':
          description: Transfer accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResponse'
              example:
                success: true
                tx_id: "abc123def456"
                message: "Transfer queued"
        '400':
          $ref: '#/components/responses/BadRequest'

  /wallet/transfer:
    post:
      tags:
        - Wallet
      summary: Admin transfer
      description: Execute transfer with admin key (requires authentication)
      operationId: adminTransfer
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminTransferRequest'
            example:
              from: "macmini-m2-134"
              to: "dual-g4-125"
              amount: 10.5
              reason: "Bounty payment"
      responses:
        '200':
          description: Transfer executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /withdraw/request:
    post:
      tags:
        - Wallet
      summary: Request withdrawal
      description: Submit a withdrawal request (requires authentication)
      operationId: requestWithdrawal
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalRequest'
            example:
              miner: "macmini-m2-134"
              amount: 100.0
              destination: "external_wallet_address"
      responses:
        '200':
          description: Withdrawal request accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  request_id:
                    type: string
                    example: "wd_abc123"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /explorer:
    get:
      tags:
        - Explorer
      summary: Block explorer page
      description: Returns HTML block explorer interface
      operationId: getExplorer
      responses:
        '200':
          description: Block explorer HTML
          content:
            text/html:
              schema:
                type: string

components:
  securitySchemes:
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: Admin API key for authenticated endpoints

  schemas:
    HealthResponse:
      type: object
      properties:
        ok:
          type: boolean
          description: Overall health status
        version:
          type: string
          description: Node version
        uptime_s:
          type: integer
          description: Uptime in seconds
        db_rw:
          type: boolean
          description: Database read/write status
        tip_age_slots:
          type: integer
          description: Age of chain tip in slots
        backup_age_hours:
          type: number
          description: Age of last backup in hours

    EpochResponse:
      type: object
      properties:
        epoch:
          type: integer
          description: Current epoch number
        slot:
          type: integer
          description: Current slot within epoch
        blocks_per_epoch:
          type: integer
          description: Number of blocks per epoch
        enrolled_miners:
          type: integer
          description: Number of enrolled miners
        epoch_pot:
          type: number
          description: Current epoch reward pot in RTC
        total_supply_rtc:
          type: integer
          description: Total RTC supply

    Miner:
      type: object
      properties:
        miner:
          type: string
          description: Miner identifier
        device_arch:
          type: string
          description: Device architecture (e.g., M2, G4, x86)
        device_family:
          type: string
          description: Device family (e.g., Apple Silicon, PowerPC)
        hardware_type:
          type: string
          description: Human-readable hardware type
        last_attest:
          type: integer
          description: Unix timestamp of last attestation
        antiquity_multiplier:
          type: number
          description: Reward multiplier based on hardware age (1.0-4.0)
        entropy_score:
          type: number
          description: Hardware entropy score
        first_attest:
          type: integer
          nullable: true
          description: Unix timestamp of first attestation

    HallOfFameResponse:
      type: object
      properties:
        epoch:
          type: integer
          description: Epoch when data was generated
        generated_at:
          type: string
          format: date-time
          description: Timestamp when data was generated
        stats:
          $ref: '#/components/schemas/HallOfFameStats'
        categories:
          type: object
          description: Machines organized by category
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/HallOfFameMachine'
        spotlight:
          $ref: '#/components/schemas/HallOfFameMachine'

    HallOfFameStats:
      type: object
      properties:
        total_machines:
          type: integer
        total_attestations:
          type: integer
        oldest_year:
          type: integer
        highest_rust_score:
          type: number
        active_miners_now:
          type: integer
        average_rust_score:
          type: number
        capacitor_plague_survivors:
          type: integer
        deceased_count:
          type: integer

    HallOfFameMachine:
      type: object
      properties:
        miner:
          type: string
        rust_score:
          type: number
        manufacture_year:
          type: integer
        total_attestations:
          type: integer
        device_family:
          type: string
        device_arch:
          type: string

    FeePoolResponse:
      type: object
      properties:
        total_fees_collected_rtc:
          type: number
          description: Total fees collected in RTC
        total_fee_events:
          type: integer
          description: Total number of fee events
        recent_events:
          type: array
          description: Recent fee events
          items:
            $ref: '#/components/schemas/FeeEvent'

    FeeEvent:
      type: object
      properties:
        timestamp:
          type: integer
          description: Unix timestamp
        amount:
          type: number
          description: Fee amount in RTC
        from:
          type: string
          description: Source miner
        reason:
          type: string
          description: Fee reason

    BalanceResponse:
      type: object
      properties:
        miner:
          type: string
        balance:
          type: number
          description: Balance in RTC
        last_updated:
          type: string
          format: date-time

    EligibilityResponse:
      type: object
      properties:
        miner:
          type: string
        eligible:
          type: boolean
        epoch:
          type: integer
        reason:
          type: string

    AttestationRequest:
      type: object
      required:
        - miner
        - device_arch
        - device_family
        - signature
        - timestamp
      properties:
        miner:
          type: string
        device_arch:
          type: string
        device_family:
          type: string
        signature:
          type: string
          description: Ed25519 signature
        timestamp:
          type: integer
          description: Unix timestamp

    SignedTransferRequest:
      type: object
      required:
        - from
        - to
        - amount
        - signature
        - timestamp
      properties:
        from:
          type: string
        to:
          type: string
        amount:
          type: number
        signature:
          type: string
          description: Ed25519 signature
        timestamp:
          type: integer

    AdminTransferRequest:
      type: object
      required:
        - from
        - to
        - amount
      properties:
        from:
          type: string
        to:
          type: string
        amount:
          type: number
        reason:
          type: string

    WithdrawalRequest:
      type: object
      required:
        - miner
        - amount
        - destination
      properties:
        miner:
          type: string
        amount:
          type: number
        destination:
          type: string

    TransferResponse:
      type: object
      properties:
        success:
          type: boolean
        tx_id:
          type: string
        message:
          type: string

  responses:
    Unauthorized:
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Unauthorized"

    BadRequest:
      description: Bad Request - Invalid input
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Invalid request"
